<app-navbar></app-navbar>

<h1>Enter a note</h1>
<form [formGroup]="noteForm" >

  <div class="form-group">
    <label for="noteName">Note Name</label>
    <input type="text" class="form-control" formControlName="notename" required>
   
  </div>

  
      <textarea rows="4" cols="150"  name="note"formControlName ="note"  [(ngModel)]="getNote"
      required></textarea>


    <br />
    
    <button  (click)="onSubmit()">Submit</button><br>
    <button id="find" (click)="find()">Find</button>
   
</form>
