<div style="text-align:center">
  <img width="300" alt="Chatter Logo" src="/chatter.png">
</div>
<div style="text-align:center" class="register">
  <form>
    Username <br>
    <input type="text" id="username">
    <br><br>
    Email <br>
    <input type="email" id="email">
    <br><br>
    Password <br>
    <input type="password" id="password">
    <br><br>
    Confirm Password <br>
    <input type="password" id="confirm-password">
    <br><br>
    <button type="submit">Register</button>
  </form>
  <br>
  <button>User Home</button>
</div>