.register{
    
    border: 5px outset #F0CD59;
    background-color: #C8C8C8;
    color: #453E27;
    border-radius: 25px;
    width: 250px;
    margin:auto;
    padding:10px;
    text-align: center;
    
}