<button mat-fab (click)="onClickUserInfo()">
  <img src="/assets/favicon-32x32.png">
</button>

<div class="chatterbox-container">
  <mat-card class="main-card">
    <mat-list class="chatterbox-list">
      <mat-list-item *ngFor="let message of messages" [ngClass]="[(message.action === undefined && message.from.id === user.id)? 'chatterbox-list-item': '']">
        <h4 mat-line *ngIf="message.action === undefined">
          <b>{{message.from.name}}</b>
        </h4>
        <p mat-line *ngIf="message.action === undefined">
          <span>{{message.content}}</span>
        </p>
        <p mat-line *ngIf="message.action === action.JOINED" class="chatterbox-notify">
          <span>You have started a conversation with <b>{{message.from.name}}</b></span>
        </p>
        <p mat-line *ngIf="message.action ===action.RENAME" class="chatterbox-notify">
          <span> <b>{{message.content.previousUsername}}</b></span>
        </p>
      </mat-list-item>
    </mat-list>

    <div class="chatterbox-footer-container">
      <mat-icon><p class="chirp">Chirp!</p></mat-icon>
      <mat-form-field class="chatterbox-input">
        <input matInput #inputMessage maxlength="360" placeholder="Begin chattering..." [(ngModel)]="messageContent" (keyup.enter)="sendMessage(messageContent)">
        <mat-hint align="end">{{inputMessage.value.length}}/360</mat-hint>
      </mat-form-field>
    </div>
  </mat-card>
</div>