<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a routerLink="/NoteForm"><img src="/src/chatter-sm.png" class="logo" /></a>
  </div>
  <ul style="font-size: 12pt"class="nav navbar-nav nav-pills">
    <li routerLinkActive="active">
      <a routerLink="/NoteForm">Notes</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/ClassForm">Create a class</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/UserClasses">My Classes</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/EditUser">Edit User</a>
    </li>

    <li routerLinkActive="active">
      <a routerLink="/Chat">Chatterbox!</a>
    </li>


  </ul>